<h1>All Users</h1>

<%= render "shared/errors" %>
<%= render "shared/messages" %>

<% @users.each do |user| %>

  <p>
    <a href="<%= user_url(user) %>">
      <%= user.username %>
    </a>
  </p>

<% end %>
